Calculate cumulative number of cases

In [1]:
# import dependencies
import pandas as pd

In [2]:
# set province
province = "CATANDUANES"

In [4]:
# load csv file# read from csv file
df = pd.read_csv(f"aggregated_data/{province}.csv")
df.head()

,Date,Municipality,Latitude,Longitude,NewCases,Deaths,Recoveries
0,2020-06-06,SAN MIGUEL,13.640329,124.303109,1.0,0.0,0.0
1,2020-06-22,BAGAMANOC,13.939637,124.287830,1.0,0.0,0.0
2,2020-07-06,VIRAC,13.580359,124.231203,1.0,0.0,0.0
3,2020-07-08,CARAMORAN,13.983835,124.133872,1.0,0.0,0.0
4,2020-07-10,VIRAC,13.580359,124.231203,2.0,0.0,0.0

In [5]:
# add new column for change in cases
df["d_cases"] = df["NewCases"] - df["Deaths"] - df["Recoveries"]

df

,Date,Municipality,Latitude,Longitude,NewCases,Deaths,Recoveries,d_cases
0,2020-06-06,SAN MIGUEL,13.640329,124.303109,1.0,0.0,0.0,1.0
1,2020-06-22,BAGAMANOC,13.939637,124.287830,1.0,0.0,0.0,1.0
2,2020-07-06,VIRAC,13.580359,124.231203,1.0,0.0,0.0,1.0
3,2020-07-08,CARAMORAN,13.983835,124.133872,1.0,0.0,0.0,1.0
4,2020-07-10,VIRAC,13.580359,124.231203,2.0,0.0,0.0,2.0
...,...,...,...,...,...,...,...,...
2570,2024-01-01,VIRAC,13.580359,124.231203,0.0,0.0,2.0,-2.0
2571,2024-01-01,GIGMOTO,13.778669,124.391173,0.0,0.0,1.0,-1.0
2572,2024-01-07,SAN ANDRES,13.598915,124.096969,0.0,0.0,1.0,-1.0
2573,2024-01-07,VIGA,13.871531,124.308730,0.0,0.0,1.0,-1.0
2574,2024-01-08,VIRAC,13.580359,124.231203,0.0,0.0,2.0,-2.0

In [7]:
# calculate cumulative sum
df["n"] = df["d_cases"].cumsum()
df

,Date,Municipality,Latitude,Longitude,NewCases,Deaths,Recoveries,d_cases,n
0,2020-06-06,SAN MIGUEL,13.640329,124.303109,1.0,0.0,0.0,1.0,1.0
1,2020-06-22,BAGAMANOC,13.939637,124.287830,1.0,0.0,0.0,1.0,2.0
2,2020-07-06,VIRAC,13.580359,124.231203,1.0,0.0,0.0,1.0,3.0
3,2020-07-08,CARAMORAN,13.983835,124.133872,1.0,0.0,0.0,1.0,4.0
4,2020-07-10,VIRAC,13.580359,124.231203,2.0,0.0,0.0,2.0,6.0
...,...,...,...,...,...,...,...,...,...
2570,2024-01-01,VIRAC,13.580359,124.231203,0.0,0.0,2.0,-2.0,7.0
2571,2024-01-01,GIGMOTO,13.778669,124.391173,0.0,0.0,1.0,-1.0,6.0
2572,2024-01-07,SAN ANDRES,13.598915,124.096969,0.0,0.0,1.0,-1.0,5.0
2573,2024-01-07,VIGA,13.871531,124.308730,0.0,0.0,1.0,-1.0,4.0
2574,2024-01-08,VIRAC,13.580359,124.231203,0.0,0.0,2.0,-2.0,2.0

In [8]:
# export to csv

df.to_csv(f"aggregated_data/{province}.csv")