In [5]:
import pandas as pd
import numpy as np
import os
import ipywidgets as widgets
from ipywidgets import interact
from matplotlib import pyplot as plt

In [2]:
df = pd.read_csv('./aggregated_data/CATANDUANES2.csv')
df.head()

,Unnamed: 0,Date,Municipality,Latitude,Longitude,NewCases,Deaths,Recoveries
0,0,2023-04-20,SAN MIGUEL,13.640329,124.303109,2.0,0.0,0.0
1,1,2023-04-28,SAN MIGUEL,13.640329,124.303109,1.0,0.0,2.0
2,2,2023-05-07,SAN MIGUEL,13.640329,124.303109,1.0,0.0,0.0
3,3,2023-05-14,SAN MIGUEL,13.640329,124.303109,4.0,0.0,0.0
4,4,2023-05-19,SAN MIGUEL,13.640329,124.303109,2.0,0.0,0.0

In [3]:
df.drop('Unnamed: 0', axis=1, inplace=True)

In [ ]:
mun = list(df['Municipality'].unique())
cases = list(df['NewCases'].unique())

def plot_time_series(mun):
    filtered_df = df[(df['Municipality'] == mun)]
    plt.plot(filtered_df['Date'], filtered_df['NewCases'])

x = widgets.Dropdown(options=mun)
interact(plot_time_series, mun=x)
plt.show()

interactive(children=(Dropdown(description='mun', options=('SAN MIGUEL', 'BAGAMANOC', 'CARAMORAN', 'GIGMOTO', â€¦

In [8]:
df['Date'] = pd.to_datetime(df['Date'])
df['Year'] = df['Date'].dt.strftime('%Y')

In [9]:
df['Year'] = df['Year'].astype(int)
first_half = df[df['Year'] <= 2022]
second_half = df[df['Year'] > 2022]

In [10]:
first_half.shape[0], second_half.shape[0]

(1446, 128)

In [11]:
# skewed data